#title {
    padding: 0 var(--h-spacing-4);
    height: 50vh;
    display: flex;
    align-items: center;
}

#title p {
    font-size: var(--content-med);
    max-width: 50vw;
}

#portfolio {
    margin: 0 var(--h-spacing-2) var(--v-spacing-2) var(--h-spacing-2);
    padding-bottom: var(--v-spacing-2);
    gap: var(--v-spacing-2);

    display: flex;
    flex-flow: row wrap;
}

.post {
    text-decoration: none;
    height: 20vh;
    width: 44vw;

    gap: var(--v-spacing-1);

    overflow: hidden;

    display: flex;
    align-items: stretch;
    flex-direction: row;
    background-color: transparent;
}

.post:hover {
    background-color: var(--extra-muted-primary);
}

.img_container {
    height: 100%;
    width: 25%;
}

.img_container > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}

.description {
    height: 100%;
    width: 75%;
}

.description > h3 {
    padding: 1vh 0;
}

.description > p {
    padding: 0;
    font-size: var(--content-small);
    text-overflow: ellipsis;
}

@media (max-width: 800px) {
    .post {
        text-decoration: none;
        height: 20vh;
        width: 92vw;

        gap: var(--v-spacing-1);

        overflow: hidden;

        display: flex;
        align-items: stretch;
        flex-direction: row;
    }
}