html {
    font-size: 12px;

    background-color: var(--background-color);

    --primary: hsl(350, 50%, 50%);
    --muted-primary: hsl(350, 35%, 50%);
    --extra-muted-primary: hsl(350, 20%, 95%);
    --background-color: hsl(40, 60%, 99%);
    --muted-black: hsl(0, 0%, 30%);
    --light-gray: hsl(0, 0%, 90%);
    --light-gray-transparent: hsla(0, 0%, 90%, 90%);

    --title: 12rem;
    --heading-large: 4rem;
    --heading-med: 3rem;
    --heading-small: 2rem;
    --content-large: 3rem;
    --content-med: 2rem;
    --content-small: 1.5rem;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    font-family: serif;
}

h1 {
    font-size: var(--heading-large);
}

h2 {
    font-size: var(--heading-med);
}

h3 {
    font-size: var(--heading-small);
}

a {
    color: var(--muted-black);
    text-decoration-color: var(--muted-primary)
}

a:hover {
    color: black;
    text-decoration-color: var(--primary)
}

a, span, p, li, td, th {
    font-size: var(--content-small);
    line-height: 1.5;
}

ol {
    padding-left: 2vw;
}

li {
    list-style-position: inside;
    margin-bottom: 10px;
}

hr {
    background-color: var(--primary);
    height: 3px;
}

nav {
    position: fixed;
    left: 4vh;
    top: 4vh;

    display: flex;
    flex-direction: row;

    gap: 20px;
}

nav img {
    width: 30px;
}

#muted-nav {
    position: absolute;
    z-index: 100;
}

#muted-nav:hover {
    opacity: 0;
}


html::-webkit-scrollbar{
    width: 10px;               /* horizontal scrollbar thickness */
}

html::-webkit-scrollbar-track{
    background: var(--light-gray);
}

html::-webkit-scrollbar-thumb {
    background: var(--muted-primary);

}

html::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}
