#grid {
    display: grid;
    grid-template-columns: repeat(15, 4.53vw);
    grid-auto-rows: auto;
    row-gap: 2vh;

    margin: 5vw 16vw 5vw 16vw;
}

#grid div {
    display: flex;
    align-items: flex-start;
}

#grid img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}