#title{
    margin: var(--v-spacing-3) var(--h-spacing-3);
    display: flex;
    width: auto;
    height: 75vh;
}

#title > div {
    margin: var(--h-spacing-1);
    flex: 1
}

#text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#headshot {
    display: flex;
    justify-content: center;
    align-items: center;
}

#headshot > img {
    max-width: 100%;
    max-height: 100%;
}

#text-container h1 {
    font-size: var(--title);
    display: block;
    width: min-content;
}

#text-container span, #text-container a {
    font-size: var(--content-large);
}

#about {
    margin: 0 var(--h-spacing-4) var(--v-spacing-4) var(--h-spacing-4);
}

#about h2 {
    font-size: var(--heading-large);
}

#about * {
    font-size: var(--content-med);
}


@media (max-width: 1000px) {
  #title {
    flex-direction: column;
    height: fit-content;
  }
}