#title {
    padding: 0 var(--h-spacing-4);
    height: 50vh;
    display: flex;
    align-items: center;
}

#title p {
    font-size: var(--content-med);
    max-width: 50vw;
}

#content {
    margin: 0 var(--h-spacing-2);
}

h2{
    padding: 0 var(--h-spacing-4) var(--v-spacing-4) var(--h-spacing-4);
}

.quote{
    padding: var(--v-spacing-4) var(--h-spacing-4) 0 var(--h-spacing-4);
}


.quote > :first-child {
    font-size: var(--content-med);
    font-style: italic;
    display: block;
    margin-bottom: 1vh;
}

.quote > :first-child::before {
    content: '"';
    color: var(--primary);
}

h3 {
    padding: var(--v-spacing-2) 0;
}

section {
    margin: var(--v-spacing-4) 0;
}

.scroll::-webkit-scrollbar{
    width: 10px;               /* horizontal scrollbar thickness */
}

.scroll::-webkit-scrollbar-track{
    background: var(--light-gray);
}

.scroll::-webkit-scrollbar-thumb {
    background: var(--muted-primary);

}

.scroll::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}

