img {
    width: 100%
}


.section1 > .text-container {
    background-image: url("../../media/Analysis/ending-youth-recruitment/Children_risk_abduction_into_militia_\(7831363424\).jpg");
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image in the viewport */
    background-size: cover; /* Ensures the image covers the entire area without stretching */
    background-attachment: fixed; /* Key property: fixes the background relative to the viewport */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    gap: var(--h-spacing-2);
    row-gap: var(--h-spacing-2);

    padding: 30vh 0;
}

.section1 > .text-container > div {
    background-color: var(--background-color);
    width: var(--h-spacing-4);

    padding: var(--v-spacing-1);
}

.section1 > .text-container > div > *{
    display: block;
}

.section1 > .text-container > div > :first-child{
    font-size: var(--content-large);
    font-weight: bold;
    margin-bottom: 1vh;
    text-align: center;
}

span, p, a {
    font-size: var(--content-small);
}


.section2 > .subsection1, .section3 > .subsection4 {
    display: flex;
    align-items: flex-start;
}

.section2 > .subsection1 > .img-container, .section3 > .subsection4 > .img-container {
    width: 55vw;
    position: sticky;
    top: var(--v-spacing-3);
}

.section2 > .subsection1 > .img-container > img, .section3 > .subsection4 > .img-container > img {
    width: 100%;
    height: auto;
}

.section2 > .subsection1 > .text-container, .section3 > .subsection4 > .text-container {
    flex: 1; /* Take remaining space */
    padding: 40vh var(--h-spacing-2);
}

.section2 > .subsection2 {
    padding: var(--v-spacing-2) var(--h-spacing-4) var(--v-spacing-3) var(--h-spacing-4);
}

.section2 > .img-container {
    margin: var(--v-spacing-3) var(--h-spacing-4);
}

.section2 > .img-container > img {
    width: 100%;
}

.section3 > img {
    width: 100%;
}

.section3 > .subsection1 {
    margin: var(--v-spacing-4) var(--h-spacing-4);
}

.section3 > .subsection2 {
    background-image: url("../../media/Analysis/ending-youth-recruitment/10794436964_36646bf1f8_k.jpg");
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image in the viewport */
    background-size: cover; /* Ensures the image covers the entire area without stretching */
    background-attachment: fixed; /* Key property: fixes the background relative to the viewport */

    padding: var(--v-spacing-4);
}

.section3 > .subsection2 > .text-container {
    background-color: var(--background-color);
    padding: var(--v-spacing-2);
}

.section3 > .subsection3 {
    margin: var(--v-spacing-4) var(--h-spacing-4);
}

:is(.section4, .section5) > :is(p,ol, h3) {
    margin: 0 var(--h-spacing-4);
}

.section4 > p {
    margin-top: var(--v-spacing-4);
}

.section5 h2 {
    padding-bottom: 0;
}

.section5 li>a {
    line-break: anywhere;
}

@media (max-width: 1000px) {
    .section1 > .text-container > div{
        width: 200px;
    }

    .section2 > .subsection1, .section3 > .subsection4 {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .section2 > .subsection1 > .img-container, .section3 > .subsection4 > .img-container {
        width: 100%;
        position: static;
    }

    .section2 > .subsection1 > .text-container, .section3 > .subsection4 > .text-container {
        width: 100%;
        flex: 0;
        padding: var(--v-spacing-2) var(--h-spacing-4);
    }

    .section2 > .img-container {
        margin: var(--v-spacing-2) 0 0 0;
    }

    .section3 > .subsection2 {
        background-image: url("../../media/Analysis/ending-youth-recruitment/10794436964_36646bf1f8_k.jpg");
        background-repeat: no-repeat; /* Prevents the image from repeating */
        background-position: center; /* Centers the image in the viewport */
        background-size: cover; /* Ensures the image covers the entire area without stretching */
        background-attachment: fixed; /* Key property: fixes the background relative to the viewport */

        padding: var(--h-spacing-4);
    }
}