#section1, #section2 {
    display: flex;
    align-items: flex-start;
    margin: 5vh 0;
}

#section1 > .img-container {
    width: 30vw;
    position: sticky;
    top: 10vh;
}

:is(#section1, #section2) > .img-container > img {
    width: 100%;
    height: auto;
}

:is(#section1, #section2) > .text-container {
    flex: 1; /* Take remaining space */
    padding: 40vh 4vw;
}

#section2 > .img-container {
    width: 50vw;
    position: sticky;
    top: 10vh;
}

#section3 {
    margin: 0 10vw;
}

#section3 h3 {
    padding-bottom: 0;
}

#section3  img {
    width: 30vw;
    height: auto;
}

#section3 table {
    border-collapse: collapse;
}

#section3 :is(th,td) {
    border-top: 3px solid var(--primary);
    border-bottom: 3px solid var(--primary);

    padding: 10px;
}

#section3 span {
    font-style: italic;
}

#section4 {
    margin: 15vh 0;
}

#section4 > :is(p, ol, h3) {
    margin: 0 20vw;
}

h2 {
    padding-bottom: 0;
}

#section4 li>a {
    line-break: anywhere;
}