.section1, .section2 {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin: 5vh 0;
}

.section1 > .img-container {
    width: 30vw;
    position: sticky;
    top: var(--v-spacing-3);
}

:is(.section1, .section2) > .img-container > img {
    width: 100%;
    height: auto;
}

:is(.section1, .section2) > .text-container {
    flex: 1; /* Take remaining space */
    padding: 40vh var(--h-spacing-2);
}

.section2 > .img-container {
    width: 50vw;
    position: sticky;
    top: var(--v-spacing-3);
}

.section3 {
    margin: 0 var(--h-spacing-3);
}

.section3 h3 {
    padding-bottom: 0;
}

.section3  img {
    width: 30vw;
    height: auto;
}

.section3 table {
    border-collapse: collapse;
}

.section3 :is(th,td) {
    border-top: 3px solid var(--primary);
    border-bottom: 3px solid var(--primary);

    padding: 10px;
}

.section3 span {
    font-style: italic;
}

.section4 {
    margin: var(--v-spacing-4) 0;
}

.section4 > :is(p, ol, h3) {
    margin: 0 var(--h-spacing-4);
}

h2 {
    padding-bottom: 0;
}

.section4 li>a {
    line-break: anywhere;
}

@media (max-width: 1000px) {
    .section1, .section2 {
        flex-direction: column;
    }

    :is(.section1, .section2) > .img-container {
        width: 100%;
        position: static;
    }

    :is(.section1, .section2) > .text-container {
        width: 100%;
        flex: 0;
        padding: 0 var(--h-spacing-4);
    }

    .section3 table {
        border-collapse: collapse;
        overflow-x: auto;
        display: block;
        
        width: 100%;
    }

    .section3 td {
        min-width: 100px;
    }
}