.section1 {
    margin-top: 0;
}

:is(.section1, .section2, .section3, .section4, .section5) > :is(p, span, ul, ol, h3) {
    margin: 0 var(--h-spacing-4)
}


.section3 > .img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: var(--v-spacing-4) 0;
}

.section3 > .img-container > img {
    width: 30%
}



@media (max-width: 800px) {
    .section3 > .img-container {
        flex-direction: column;
        gap: var(--v-spacing-2);
        margin: var(--v-spacing-2) 0;
    }

    .section3 > .img-container > img {
        width: 65%
    }

}